@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:wght@300;400;600&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: var(--white-dark);
  color: #010101;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 1.25em;
}
div {
  display: block;
}
:root {
  --black: #010101;
  --royal-blue: #4268fb;
  --white-darkest: #e0e0e1;
  --white: white;
  --white-dark: #f3f3f4;
  --black-light: #31313b;
  --black-lightest: #484851;
  --royal-blue-light: #e2edfe;
}
* {
  box-sizing: border-box;
}
